{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}
{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;

        }

        img{
            width:10%;
            height:5%;
        }
    </style>    
    
    {# -------------------------------- #}
    
    <h1>Bienvenue sur Symfoot</h1>
    <div class="card bg-secondary mb-3" style="max-width: 30rem;">
        <button type="button" class="btn btn-outline-primary"><a class="dropdown-item" href="{{ path('new_team')}}">Crée une nouvelle équipe </a></button>
        <button type="button" class="btn btn-outline-primary"><a class="dropdown-item" href="{{ path('select_equipe')}}">Selection équipe </a></button>
        <button type="button" class="btn btn-outline-primary"><a class="dropdown-item" href="{{ path('new_saison')}}">Nouvelle saison </a></button>
        <button type="button" class="btn btn-outline-primary"><a class="dropdown-item" href="{{ path('history')}}">Historique</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" href="{{ path('show_joueur')}}">Voir la liste des joueurs</a></button>
    </div>
{% endblock %}